@charset "utf-8";
body {
	background-color: ivory;
}

header{
	background-color: darkcyan;
	padding: 25px;
}

h1 {
	color: darkcyan;
	font-family: "Tahoma";
	font-size: 40pt;
	text-align: center;
	padding: 15px;
}

h2 {
	color: ivory;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 40pt;
	text-align: center;
}

h3 {
	color: ivory;
	font-family: "Myriad Pro",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20pt;
	text-align: center;
	padding: 10px;
}

h4 {
	color: darkslategray;
	font-family: "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30pt;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

h5 {
	color: teal;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20pt;
	text-align: left;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.para {
	color: ivory;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15pt;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.nav {
	color: ;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20pt;
	text-align: center;
	padding: 15px;
}

nav {

}

ul {
	color: cadetblue;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15pt;
	text-align: left;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.filler{
	padding: 20px;
}